<% object.each do |product| %>
	<%= link_to product_path(product) do %>
		<div class="product-icon">
			<%= image_tag product.thumb.image.url, class: "product-image" %>
			<div class="product-details">
				<div class="product-name"><%= product.name %></div>
				<div class="product-price">Rs. <%= product.price %></div>
			</div>
		</div>
	<% end %>
<% end %>