<% object.each do |product| %>
	<div class="product-icon">
		<%= image_tag product.thumb.image.url, class: "product-image" %>
		<div class="product-details">
			<div class="product-name"><%= link_to product.name, product_path(product) %></div>
			<div class="product-price">Rs. <%= product.price %></div>
		</div>
	</div>
<% end %>