<span>Order <%= @order.id %></span><br>

<% if @order.billing_items.any? %>
	<div>
		<% @order.billing_items.each do |billing_item| %>
			<div>
				<%= billing_item.product_price %>
			</div>
			<div>
				<%= billing_item.quantity %>
			</div>
		<% end %>
	</div>
<% end %>

<%= link_to "Cancel Order", order_path(@order), method: :delete %>