// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";

.product-details-container {
	.product-details {
		.product-name {
			display: block;
			color: $primary;
			font: bold 40px $font-family;
		}
		.product-price {
			color: $complementary;
			display: block;
			font: 20px $font-family;
		}
		.product-description {
			display: block;
			color: $complementary;
			font: 20px $font-family;
			&::before {
				color: $primary;
				content: "Description";
				display: block;
				margin-top: 15px;
				font: bold 25px $font-family;
			}
		}
	}
}
#products_wrapper {
	.dataTables_length {
		display: inline-block;
	}
	.dataTables_filter {
		display: inline-block;
		float: right;
	}
	.dataTables_paginate {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		.paginate_button {
			padding:8px 15px;
			color: $primary;
			background-color: $base;
			border: 2px solid $secondary;
			border-radius: 5px;
			margin-right: 10px;
			&:hover {
				background-color: $secondary;
				text-decoration: none;
			}
		}
		span {
			display:flex;
			justify-content: space-around;
			.current {
				border-color: $primary;
			}
		}
	}
	table {
		width: 100%;
		border: 1px solid $primary;
		thead {
			// border: 0;
			tr { 
				padding: 3px 7px;
				th {
					padding: 5px 10px;
					color: black;
				}
			}
		}
	}

}