// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";

.product-details-container {
	.product-details {
		.product-name {
			display: block;
			color: $primary;
			font: bold 40px $font-family;
		}
		.product-price {
			color: $complementary;
			display: block;
			font: 20px $font-family;
		}
		.product-description {
			display: block;
			color: $complementary;
			font: 20px $font-family;
			&::before {
				color: $primary;
				content: "Description";
				display: block;
				margin-top: 15px;
				font: bold 25px $font-family;
			}
		}
	}
}