// Place all the styles related to the standard_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";
.category {
	font-size: 30px;
	margin-bottom: 30px;
	// padding: 5px;
	.products-icon-container {
		display: flex;
		flex-direction: row;
		overflow-x:  scroll;
		justify-content: flex-start;
		.product-icon {
			// background-color: $secondary;
			text-align: center;
			min-width: 150px;
			width:150px;
			height: 250px;
			margin: 15px;
			.product-image {
				display: inline;
				width: 100%;
				margin-bottom: 5px;
			}
			.product-details {
				padding:3px;
				height: 100px;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				// align-content: space-around;
				// align-items: space-between;
				.product-name {
					font-size: 20px;
				}
				.product-price {
					font-size: 20px;
				}
			}
		}
	}
}