// Place all the styles related to the standard_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.category {
	font-size: 30px;
	margin-bottom: 30px;
	padding: 5px;
	.products-icon-container {
		display: flex;
		flex-direction: row;
		overflow-x:  scroll;
		justify-content: flex-start;
		.product-icon {
			padding: 5px;
			border: 2px solid black;
			text-align: center;
			min-width: 250px;
			height: 300px;
			margin: 15px;
			.product-name{
				display: block;
				font-size: 20px;
			}
			.product-price {
				display: block;
				font-size: 20px;
			}
		}
	}
}