<div class="category">
	<div class="products-icon-container">
		<% object.each do |product| %>
			<%= link_to product_path(product) do %>
				<div class="product-icon">
					<%= image_tag product.thumb.image.url, class: "product-image" unless product.thumb.nil? %>
					<div class="product-details">
						<span class="product-name">
							<%= product.name %>
						</span>
						<span class="product-price">
							Rs. <%= product.price %>
						</span>
					</div>
				</div>
			<% end %>
		<% end %>
	</div>
</div>
