<div class="category">
	<div class="products-icon-container">
		<% object.each do |product| %>
			<div class="product-icon">
				<%= image_tag product.thumb.image.url, class: "product-image" %>
				<div class="product-details">
					<span class="product-name">
						<%= link_to product.name, product_path(product) %>
					</span>
					<span class="product-price">
						Rs. <%= product.price %>
					</span>
				</div>
			</div>
		<% end %>
	</div>
</div>
