<div id="product_template" style="display:none">	
	<div id="product_container" class="row product-details-container">
		<div class="col-sm-4 product-image-conatiner">
			<img src="{image_source}" class="product-image">
		</div>
		<div class="col-sm-8 product-details">
			<label class="product-name">{title}</label>
			<label class="product-price">{price}</label>
			<a href="javascript:void(0)" id="add_to_cart">Add to cart</a>
		</div>
	</div>
</div>
<div id="product_list">
	
</div>