<div class="row header">
	<div class="col-sm-7 header-brand">
		<h1>
			minicart
		</h1>
	</div>
	<div class="col-sm-5">
		<div class="row header-actions">
			<div class="header-action">
				<%= link_to 'Login', "#", class: "btn btn-primary btn-block" %>
			</div>
			<div class="header-action">
				<%= link_to 'Sign Up', "#", class: "btn btn-primary btn-block" %>
			</div>
		</div>
	</div>
</div>